body {
    margin: 0;
    padding: 0;
}

.body {

    background-color: black;

}

.main {

    display: flex;


}

.div1 {
    border: 4px solid #475764;
    width: max-content;
    height: 22vh;

    display: flex;
    align-items: center;


}

.d1 {
    border: 4px solid #504345;
    width: 5vw;
    height: 10vh;
    display: flex;
    margin: 15px;
    background-color: #1a1313;



}

.div2 {
    border: 4px solid #475764;
    width: max-content;
    height: 22vh;

    display: flex;
    align-items: start;

}

/*.d2{

    border: 4px solid #504345;
    width: 5vw;
    height: 10vh;
    display: flex;
    margin: 15px;
    background-color:#1a1313 ;

}*/
.div3 {
    border: 4px solid #475764;
    width: max-content;

    height: 22vh;

    display: flex;
    align-items: end;



}


/*.d3{

    border: 4px solid  #504345 ;
    width: 5vw;
    height: 10vh;
    display: flex;
    margin: 15px;
    background-color: #1a1313;

}*/
.section1 {
    display: grid;
    align-items: end;
    margin-left: 20px;
    height: 100vh;
    width: 50%;

}

.section2 {

    display: flex;
    align-items: center;
    margin-right: 20px;
    height: 100vh;
    width: 50%;
    justify-content: space-between;
}

.div11 {

    border: 4px solid #475764;
    width: 12vw;
    height: max-content;
    display: grid;
    justify-content: center;


}

/*.d11{
    border: 4px solid #504345;
    width: 5vw;
    height: 10vh;
    display: flex;
    margin: 15px;
    background-color:#1a1313  ;

}*/
.div22 {
    border: 4px solid #475764;
    width: 12vw;
    height: max-content;

    display: grid;
    justify-content: start;



}

/*.d22{

    border: 4px solid #504345;
    width: 5vw;
    height: 10vh;
    display: flex;
    margin: 15px;
    background-color: #1a1313;
}*/
.div33 {

    border: 4px solid #475764;
    width: 12vw;
    height: max-content;

    display: grid;
    justify-content: end;




}

/*.d33{
    border: 4px solid #504345;
    width: 5vw;
    height: 10vh;
    display: flex;
    margin: 15px;
    background-color: #1a1313;



}*/